<?xml version="1.0"?>
<launch>
    <!-- args -->
    <arg name="robot" default="premaidai" />
    <arg name="serial_port" default="/dev/rfcomm0" />
    <arg name="servo_off_mode" default="false" />

    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find premaidai_description)/robots/$(arg robot).urdf.xacro'" />

    <node name="premaidai_ros_bridge" pkg="premaidai_ros_bridge" type="bridge_node.py" output="screen">
        <param name="serial_port" value="$(arg serial_port)" />
        <param name="servo_off_mode" value="$(arg servo_off_mode)" />
        <param name="config_file" value="$(find premaidai_ros_bridge)/config/joint_config.yaml" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- load displays -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find premaidai_description)/launch/display.rviz"/>
</launch>
